html, body {
  background-color: lightpink;
  margin: 0;
  padding: 0;
}

.top-header{
  background-color: rgb(248, 133, 152);
  font-family: 'Salsa', cursive;
}

.menu-item{
  color: black;
  padding: 24px;
  display: inline-block;
  text-decoration: none;
}

.brand{
  font-size: 30px;
  font-weight: 600;
}

.main-content{
  max-width: 800px;
  margin: auto;
}

.box{
  background-color: white;
  padding: 20px;
  margin: 30px;
}

.name{
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
}

.text-content{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.gallery-wrapper {
  background-color: #dbdbdb;
  box-sizing: border-box;
  height: 315px;
  overflow: hidden;
}

.gallery-scroll {
  box-sizing: border-box;
  height: 315px;
  overflow-x: auto;
  overflow-y: hidden;
}

.gallery {
  background-color: #dbdbdb;
  display: flex;
  box-sizing: border-box;
  width: max-content;
  height: 300px;
  padding: 0px 15px;
}

.item {
  box-sizing: border-box;
  height: 100%;
  padding: 21px 15px;
}

.item img {
  display: block;
  height: 100%;
}

.botton-footer{
  background-color: rgb(248, 133, 152);
  padding: 14px;
}

.text-footer{
  font-size: 12px;
}